<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integrated Agricultural Decision Support System</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>

    <video autoplay muted id="myVideo">
        <source src="/static/video (1080p).mp4" type="video/mp4">
    </video>

    <div class="container example">
        <h1 id="main_title" style="text-align: center; color: #fff;">Integrated Agricultural Decision Support System</h1>
        <ul>
            <!-- <li><a href="/crop_recommendation">Crop Recommendation based on District and Season</a></li>
            <li><a href="/soil_crop_prediction">Crop Prediction based on Soil Conditions</a></li>
            <li><a href="/yield_prediction">Crop Yield Prediction</a></li> -->
        </ul>
        
        <div class="tab">
            <button class="tablinks" onclick="openModule(event, 'District')">Crop Recommendation - District</button>
            <button class="tablinks" onclick="openModule(event, 'Soil')">Crop Prediction - Soil Conditions</button>
            <button class="tablinks" onclick="openModule(event, 'Yield')">Crop Yield Prediction</button>
            <button class="tablinks" onclick="openModule(event, 'price')">Crop Price Estimation</button>
        </div>
    
        <div id="District" class="tabcontent">
            <form method="post" name="form1" onsubmit="crop_recommendation()">
                <label for="state">State:</label>
                <select type="text" id="state" name="state" required>
                    <option class="others" disabled>Andaman and Nicobar Islands</option class="others">
                    <option class="others" disabled>Andhra Pradesh</option class="others">
                    <option class="others" disabled>Arunachal Pradesh</option class="others">
                    <option class="others" disabled>Assam</option class="others">
                    <option class="others" disabled>Bihar</option class="others">
                    <option class="others" disabled>Chandigarh</option class="others">
                    <option class="others" disabled>Chhattisgarh</option class="others">
                    <option class="others" disabled>Dadra and Nagar Haveli</option class="others">
                    <option class="others" disabled>Goa</option class="others">
                    <option class="others" disabled>Gujarat</option class="others">
                    <option class="others" disabled>Haryana</option class="others">
                    <option class="others" disabled>Himachal Pradesh</option class="others">
                    <option class="others" disabled>Jammu and Kashmir</option class="others">
                    <option class="others" disabled>Jharkhand</option class="others">
                    <option class="others" disabled>Karnataka</option class="others">
                    <option class="others" disabled>Kerala</option class="others">
                    <option class="others" disabled>Madhya Pradesh</option class="others">
                    <option class="others" disabled>Maharashtra</option class="others">
                    <option class="others" disabled>Manipur</option class="others">
                    <option class="others" disabled>Meghalaya</option class="others">
                    <option class="others" disabled>Mizoram</option class="others">
                    <option class="others" disabled>Nagaland</option class="others">
                    <option class="others" disabled>Odisha</option class="others">
                    <option class="others" disabled>Puducherry</option class="others">
                    <option class="others" disabled>Punjab</option class="others">
                    <option class="others" disabled>Rajasthan</option class="others">
                    <option class="others" disabled>Sikkim</option class="others">
                    <option class="others" selected >Tamil Nadu</option class="others">
                    <option class="others" disabled>Telangana</option class="others">
                    <option class="others" disabled>Tripura</option class="others">
                    <option class="others" disabled>Uttar Pradesh</option class="others">
                    <option class="others" disabled>Uttarakhand</option class="others">
                    <option class="others" disabled>West Bengal</option class="others">
                </select>

                <label for="district">District:</label>
                <select type="text" id="district" name="district" required>
                    <option class="others" value="ARIYALUR">Ariyalur</option class="others">
                    <option class="others" value="COIMBATORE" selected >Coimbatore</option class="others">
                    <option class="others" value="CUDDALORE">Cuddalore</option class="others">
                    <option class="others" value="DHARMAPURI">Dharmapuri</option class="others">
                    <option class="others" value="DINDIGUL">Dindigul</option class="others">
                    <option class="others" value="ERODE">Erode</option class="others">
                    <option class="others" value="KANCHIPURAM">Kanchipuram</option class="others">
                    <option class="others" value="KANNIYAKUMARI">Kanniyakumari</option class="others">
                    <option class="others" value="KARUR">Karur</option class="others">
                    <option class="others" value="KRISHNAGIRI">Krishnagiri</option class="others">
                    <option class="others" value="MADURAI">Madurai</option class="others">
                    <option class="others" value="NAGAPATTINAM">Nagapattinam</option class="others">
                    <option class="others" value="NAMAKKAL">Namakkal</option class="others">
                    <option class="others" value="PERAMBALUR">Perambalur</option class="others">
                    <option class="others" value="PUDUKKOTTAI">Pudukkottai</option class="others">
                    <option class="others" value="RAMANATHAPURAM">Ramanathapuram</option class="others">
                    <option class="others" value="SALEM">Salem</option class="others">
                    <option class="others" value="SIVAGANGA">Sivaganga</option class="others">
                    <option class="others" value="THANJAVUR">Thanjavur</option class="others">
                    <option class="others" value="THE NILGIRIS">The nilgiris</option class="others">
                    <option class="others" value="THENI">Theni</option class="others">
                    <option class="others" value="THIRUVALLUR">Thiruvallur</option class="others">
                    <option class="others" value="THIRUVARUR">Thiruvarur</option class="others">
                    <option class="others" value="TIRUCHIRAPPALLI">Tiruchirappalli</option class="others">
                    <option class="others" value="TIRUNELVELI">Tirunelveli</option class="others">
                    <option class="others" value="TIRUPPUR">Tiruppur</option class="others">
                    <option class="others" value="TIRUVANNAMALAI">Tiruvannamalai</option class="others">
                    <option class="others" value="TUTICORIN">Tuticorin</option class="others">
                    <option class="others" value="VELLORE">Vellore</option class="others">
                    <option class="others" value="VILLUPURAM">Villupuram</option class="others">
                    <option class="others" value="VIRUDHUNAGAR">Virudhunagar</option class="others">
                </select>

                <label for="season">Season:</label>
                <select type="text" id="season" name="season" required>
                    <option class="others" selected >Kharif</option class="others">
                    <option class="others">Rabi</option class="others">
                    <option class="others">Summer</option class="others">
                    <option class="others">Winter</option class="others">
                    <option class="others">Autumn</option class="others">
                    <option class="others">Whole Year</option class="others">
                </select>

                <button type="submit">Submit</button>
            </form>
        </div>

        
        <div id="Soil" class="tabcontent">
            <form method="post" name="form2" onsubmit="soil_crop_prediction()">
                <label for="param1">Nitrogen Content:</label>
                <input type="number" id="param1" name="param1" value="30" min="0" required>

                <label for="param2">Phosphorous Content:</label>
                <input type="number" id="param2" name="param2" value="25" min="0" required>

                <label for="param3">Potassium Content:</label>
                <input type="number" id="param3" name="param3" value="42" min="0" required>

                <label for="param4">ph of the Soil:</label>
                <input type="number" id="param4" name="param4" value="8" min="0" max="14" required>

                <label for="param5">Rainfall(Annual):</label>
                <input type="number" id="param5" name="param5" value="150 " min="0" required>
                <button type="submit">Submit</button>
            </form> 
        </div>
  
        <div id="Yield" class="tabcontent">
            <form method="post" name="form3" onsubmit="yield_prediction()">
                <label for="state">State:</label>
                <select type="text" id="state" name="state" required>
                    <option class="others" disabled>Andaman and Nicobar Islands</option class="others">
                    <option class="others" disabled>Andhra Pradesh</option class="others">
                    <option class="others" disabled>Arunachal Pradesh</option class="others">
                    <option class="others" disabled>Assam</option class="others">
                    <option class="others" disabled>Bihar</option class="others">
                    <option class="others" disabled>Chandigarh</option class="others">
                    <option class="others" disabled>Chhattisgarh</option class="others">
                    <option class="others" disabled>Dadra and Nagar Haveli</option class="others">
                    <option class="others" disabled>Goa</option class="others">
                    <option class="others" disabled>Gujarat</option class="others">
                    <option class="others" disabled>Haryana</option class="others">
                    <option class="others" disabled>Himachal Pradesh</option class="others">
                    <option class="others" disabled>Jammu and Kashmir</option class="others">
                    <option class="others" disabled>Jharkhand</option class="others">
                    <option class="others" disabled>Karnataka</option class="others">
                    <option class="others" disabled>Kerala</option class="others">
                    <option class="others" disabled>Madhya Pradesh</option class="others">
                    <option class="others" disabled>Maharashtra</option class="others">
                    <option class="others" disabled>Manipur</option class="others">
                    <option class="others" disabled>Meghalaya</option class="others">
                    <option class="others" disabled>Mizoram</option class="others">
                    <option class="others" disabled>Nagaland</option class="others">
                    <option class="others" disabled>Odisha</option class="others">
                    <option class="others" disabled>Puducherry</option class="others">
                    <option class="others" disabled>Punjab</option class="others">
                    <option class="others" disabled>Rajasthan</option class="others">
                    <option class="others" disabled>Sikkim</option class="others">
                    <option class="others" selected >Tamil Nadu</option class="others">
                    <option class="others" disabled>Telangana</option class="others">
                    <option class="others" disabled>Tripura</option class="others">
                    <option class="others" disabled>Uttar Pradesh</option class="others">
                    <option class="others" disabled>Uttarakhand</option class="others">
                    <option class="others" disabled>West Bengal</option class="others">
                </select>

                <label for="district">District:</label>
                <select type="text" id="district" name="district" required>
                    <option class="others" value="ARIYALUR">Ariyalur</option class="others">
                    <option class="others" value="COIMBATORE" selected >Coimbatore</option class="others">
                    <option class="others" value="CUDDALORE">Cuddalore</option class="others">
                    <option class="others" value="DHARMAPURI">Dharmapuri</option class="others">
                    <option class="others" value="DINDIGUL">Dindigul</option class="others">
                    <option class="others" value="ERODE">Erode</option class="others">
                    <option class="others" value="KANCHIPURAM">Kanchipuram</option class="others">
                    <option class="others" value="KANNIYAKUMARI">Kanniyakumari</option class="others">
                    <option class="others" value="KARUR">Karur</option class="others">
                    <option class="others" value="KRISHNAGIRI">Krishnagiri</option class="others">
                    <option class="others" value="MADURAI">Madurai</option class="others">
                    <option class="others" value="NAGAPATTINAM">Nagapattinam</option class="others">
                    <option class="others" value="NAMAKKAL">Namakkal</option class="others">
                    <option class="others" value="PERAMBALUR">Perambalur</option class="others">
                    <option class="others" value="PUDUKKOTTAI">Pudukkottai</option class="others">
                    <option class="others" value="RAMANATHAPURAM">Ramanathapuram</option class="others">
                    <option class="others" value="SALEM">Salem</option class="others">
                    <option class="others" value="SIVAGANGA">Sivaganga</option class="others">
                    <option class="others" value="THANJAVUR">Thanjavur</option class="others">
                    <option class="others" value="THE NILGIRIS">The nilgiris</option class="others">
                    <option class="others" value="THENI">Theni</option class="others">
                    <option class="others" value="THIRUVALLUR">Thiruvallur</option class="others">
                    <option class="others" value="THIRUVARUR">Thiruvarur</option class="others">
                    <option class="others" value="TIRUCHIRAPPALLI">Tiruchirappalli</option class="others">
                    <option class="others" value="TIRUNELVELI">Tirunelveli</option class="others">
                    <option class="others" value="TIRUPPUR">Tiruppur</option class="others">
                    <option class="others" value="TIRUVANNAMALAI">Tiruvannamalai</option class="others">
                    <option class="others" value="TUTICORIN">Tuticorin</option class="others">
                    <option class="others" value="VELLORE">Vellore</option class="others">
                    <option class="others" value="VILLUPURAM">Villupuram</option class="others">
                    <option class="others" value="VIRUDHUNAGAR">Virudhunagar</option class="others">
                </select>

                <label for="season">Season:</label>
                <select type="text" id="season" name="season" required>
                    <option class="others" selected >Kharif</option class="others">
                    <option class="others">Rabi</option class="others">
                    <option class="others">Whole Year</option class="others">
                </select>

                <label for="crop">Crop:</label>
                <select type="text" id="crop" name="crop" required>
                    <option class="others" value="Arhar/Tur">Arhar/tur</option class="others">
                    <option class="others" value="Bajra">Bajra</option class="others">
                    <option class="others" value="Banana">Banana</option class="others">
                    <option class="others" value="Cashewnut">Cashewnut</option class="others">
                    <option class="others" value="Castor seed">Castor seed</option class="others">
                    <option class="others" value="Coconut ">Coconut </option class="others">
                    <option class="others" value="Coriander">Coriander</option class="others">
                    <option class="others" value="Cotton(lint)" selected>Cotton(lint)</option class="others">
                    <option class="others" value="Dry chillies">Dry chillies</option class="others">
                    <option class="others" value="Groundnut">Groundnut</option class="others">
                    <option class="others" value="Jowar">Jowar</option class="others">
                    <option class="others" value="Maize">Maize</option class="others">
                    <option class="others" value="Moong(Green Gram)">Moong(green gram)</option class="others">
                    <option class="others" value="Onion">Onion</option class="others">
                    <option class="others" value="Ragi">Ragi</option class="others">
                    <option class="others" value="Sugarcane">Sugarcane</option class="others">
                    <option class="others" value="Sunflower">Sunflower</option class="others">
                    <option class="others" value="Sweet potato">Sweet potato</option class="others">
                    <option class="others" value="Rice">Rice</option class="others">
                    <option class="others" value="Tapioca">Tapioca</option class="others">
                    <option class="others" value="Turmeric">Turmeric</option class="others">
                    <option class="others" value="Urad">Urad</option class="others">
                    <option class="others" value="Small millets">Small millets</option class="others">
                    <option class="others" value="Sesamum">Sesamum</option class="others">
                    <option class="others" value="Horse-gram">Horse-gram</option class="others">
                    <option class="others" value="Tobacco">Tobacco</option class="others">
                    <option class="others" value="Black pepper">Black pepper</option class="others">
                    <option class="others" value="Cardamom">Cardamom</option class="others">
                    <option class="others" value="Gram">Gram</option class="others">
                    <option class="others" value="Pulses total">Pulses total</option class="others">
                    <option class="others" value="Total foodgrain">Total foodgrain</option class="others">
                    <option class="others" value="Wheat">Wheat</option class="others">
                    <option class="others" value="Sannhamp">Sannhamp</option class="others">
                    <option class="others" value="Korra">Korra</option class="others">
                    <option class="others" value="Samai">Samai</option class="others">
                    <option class="others" value="Guar seed">Guar seed</option class="others">
                    <option class="others" value="Other Cereals & Millets">Other cereals & millets</option class="others">
                    <option class="others" value="Other Kharif pulses">Other kharif pulses</option class="others">
                    <option class="others" value="Rapeseed &Mustard">Rapeseed &mustard</option class="others">
                    <option class="others" value="Varagu">Varagu</option class="others">
                    <option class="others" value="Arecanut">Arecanut</option class="others">
                    <option class="others" value="Ash Gourd">Ash gourd</option class="others">
                    <option class="others" value="Beans & Mutter(Vegetable)">Beans & mutter(vegetable)</option class="others">
                    <option class="others" value="Beet Root">Beet root</option class="others">
                    <option class="others" value="Bhindi">Bhindi</option class="others">
                    <option class="others" value="Bitter Gourd">Bitter gourd</option class="others">
                    <option class="others" value="Bottle Gourd">Bottle gourd</option class="others">
                    <option class="others" value="Brinjal">Brinjal</option class="others">
                    <option class="others" value="Cauliflower">Cauliflower</option class="others">
                    <option class="others" value="Citrus Fruit">Citrus fruit</option class="others">
                    <option class="others" value="Cucumber">Cucumber</option class="others">
                    <option class="others" value="Drum Stick">Drum stick</option class="others">
                    <option class="others" value="Garlic">Garlic</option class="others">
                    <option class="others" value="Grapes">Grapes</option class="others">
                    <option class="others" value="Jack Fruit">Jack fruit</option class="others">
                    <option class="others" value="Lab-Lab">Lab-lab</option class="others">
                    <option class="others" value="Mango">Mango</option class="others">
                    <option class="others" value="Orange">Orange</option class="others">
                    <option class="others" value="Other Citrus Fruit">Other citrus fruit</option class="others">
                    <option class="others" value="Other Fresh Fruits">Other fresh fruits</option class="others">
                    <option class="others" value="Other Vegetables">Other vegetables</option class="others">
                    <option class="others" value="Papaya">Papaya</option class="others">
                    <option class="others" value="Pome Fruit">Pome fruit</option class="others">
                    <option class="others" value="Pome Granet">Pome granet</option class="others">
                    <option class="others" value="Redish">Redish</option class="others">
                    <option class="others" value="Ribed Guard">Ribed guard</option class="others">
                    <option class="others" value="Snak Guard">Snak guard</option class="others">
                    <option class="others" value="Tomato">Tomato</option class="others">
                    <option class="others" value="Water Melon">Water melon</option class="others">
                    <option class="others" value="Yam">Yam</option class="others">
                    <option class="others" value="Cabbage">Cabbage</option class="others">
                    <option class="others" value="Pump Kin">Pump kin</option class="others">
                    <option class="others" value="Dry ginger">Dry ginger</option class="others">
                    <option class="others" value="Soyabean">Soyabean</option class="others">
                    <option class="others" value="Potato">Potato</option class="others">
                    <option class="others" value="Carrot">Carrot</option class="others">
                    <option class="others" value="Pineapple">Pineapple</option class="others">
                    <option class="others" value="Mesta">Mesta</option class="others">
                    <option class="others" value="Apple">Apple</option class="others">
                    <option class="others" value="Peach">Peach</option class="others">
                    <option class="others" value="Pear">Pear</option class="others">
                    <option class="others" value="Plums">Plums</option class="others">
                    <option class="others" value="Turnip">Turnip</option class="others">
                    <option class="others" value="Jute">Jute</option class="others">
                    <option class="others" value="Litchi">Litchi</option class="others">
                    <option class="others" value="Niger seed">Niger seed</option class="others">
                    <option class="others" value="Ber">Ber</option class="others">
                </select>

                <label for="param1">Area:</label>
                <input type="number" id="param1" name="param1" value="75" min="0" required>
                <button type="submit">Submit</button>
            </form>
        </div>

        <div id="price" class="tabcontent">
            <form method="post" name="form4" onsubmit="price_prediction()">
                <label for="crop">Crop:</label>
                <select type="text" list="croplist" id="crop" name="crop" required>
                  <option class="others">Paddy</option class="others">
                  <option class="others">Arhar</option class="others">
                  <option class="others">Bajra</option class="others">
                  <option class="others">Barley</option class="others">
                  <option class="others">Copra</option class="others">
                  <option class="others">Cotton</option class="others">
                  <option class="others">Sesamum</option class="others">
                  <option class="others">Gram</option class="others">
                  <option class="others">Groundnut</option class="others">
                  <option class="others">Jowar</option class="others">
                  <option class="others">Maize</option class="others">
                  <option class="others">Masoor</option class="others">
                  <option class="others">Moong</option class="others">
                  <option class="others">Niger</option class="others">
                  <option class="others">Ragi</option class="others">
                  <option class="others">Jute</option class="others">
                  <option class="others">Safflower</option class="others">
                  <option class="others">Soyabean</option class="others">
                  <option class="others">Sugarcane</option class="others">
                  <option class="others">Sunflower</option class="others">
                  <option class="others">Urad</option class="others">
                  <option class="others">Wheat</option class="others">
                </select>
                <button type="submit">Submit</button>
            </form>
        </div>

        
    <div id="result" style="color: #fff;">
    </div>

    </div>
    
    

<script>
    function openModule(evt, cityName) {
    var resulterase = document.getElementById('result');
    resulterase.innerHTML = '';

     var i, tabcontent, tablinks;
     tabcontent = document.getElementsByClassName("tabcontent");
     for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
     }
     tablinks = document.getElementsByClassName("tablinks");
     for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
     }
     document.getElementById(cityName).style.display = "block";
     evt.currentTarget.className += " active";
    }

    function crop_recommendation() {
        event.preventDefault();

        // document.getElementById('main_title').innerHTML = 'IADSS';

        var form = document.forms['form1'];
        var state = form.elements['state'].value;
        var district = form.elements['district'].value;
        var season = form.elements['season'].value;


        document.getElementById('result').innerHTML = '<h2 style="margin: 0; margin-top:1%; text-align:center;">Please wait while we recommend the optimal crop for you...</h2>';

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/crop_recommendation', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            state: state,
            district: district,
            season: season
        }));
        xhr.onload = function() {
            if (xhr.status == 200) {
                var response = JSON.parse(xhr.responseText);
                var responsetxt ="<ul>";
                for (var i = 0; i < response.length; i++) {
                    responsetxt += '<li>' + response[i] + '</li>';
                }
                responsetxt += "</ul>";
                document.getElementById('result').innerHTML = '<h2 style="margin: 0; margin-top:1%; text-align:center;">Your optimal crop(s) are</h2>'+
                                                                '<h3 class="district_soil_result">' + responsetxt + '</h3>';
            }
        }
    }

    function soil_crop_prediction() {
        event.preventDefault();

        // document.getElementById('main_title').innerHTML = 'IADSS';

        var form = document.forms['form2']; var param1 = form.elements['param1'].value; var param2 = form.elements['param2'].value; var param3 = form.elements['param3'].value; var param4 = form.elements['param4'].value; var param5 = form.elements['param5'].value;

        document.getElementById('result').innerHTML = '<h2 style="margin: 0; margin-top:1%; text-align:center;">Please wait while we predict the optimal crop for you...</h2>';
        
        // var Datas ={};
        fetch('https://ipinfo.io/json').then(response => response.json()).then(data => {
            // console.log(data);
            city = data.city;
            lat = data.loc.split(',')[0];
            lon = data.loc.split(',')[1];
            // console.log(city, lat, lon);
        

        // console.log(Datas);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/soil_crop_prediction', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            param1: param1,
            param2: param2,
            param3: param3,
            param4: param4,
            param5: param5,
            lat: lat,
            lon: lon
        }));
        xhr.onload = function() {
            if (xhr.status == 200) {
                var response = JSON.parse(xhr.responseText);
                var res = response[0];
                var c_t = response[1];
                var c_h = response[2]; 
                document.getElementById('result').innerHTML = '<h2 style="margin: 0; margin-top:1%; text-align:center;">Your optimal crop is ' + res + '</h2>'+
                                                                '<h2 style="margin: 0; margin-top:1%; text-align:center;">Your current city is ' + city + '</h2>'+
                                                                '<h2 style="margin: 0; margin-top:1%; text-align:center;">Your current temperature is ' + c_t + '</h2>'+
                                                                '<h2 style="margin: 0; margin-top:1%; text-align:center;">Your current humidity is ' + c_h + '</h2>';
            }
        }
    });
    } 

    function yield_prediction() {
        event.preventDefault();
        
        // document.getElementById('main_title').innerHTML = 'IADSS';

        var form = document.forms['form3'];
        var state = form.elements['state'].value;
        var district = form.elements['district'].value;
        var season = form.elements['season'].value;
        var crop = form.elements['crop'].value;
        var param1 = form.elements['param1'].value;
        // alert( state + district + season + crop + param1);

        document.getElementById('result').innerHTML = '<h2 style="margin: 0; margin-top:1%; text-align:center;">Please wait while we predict the yield for you...</h2>';

        var xhr = new XMLHttpRequest();

        xhr.open('POST', '/yield_prediction', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            state: state,
            district: district,
            season: season,
            crop: crop,
            param1: param1
        }));

        xhr.onload = function() {
            if (xhr.status == 200) {
                var res = JSON.parse(xhr.responseText);
                document.getElementById('result').innerHTML = '<h2 style="margin: 0; margin-top:1%; text-align:center;">Your predicted yield is ' + res + ' quintal(s) </h2>';
            }
        }

    }

    function price_prediction(){
        event.preventDefault();

        // document.getElementById('main_title').innerHTML = 'IADSS';

        var form = document.forms['form4'];
        var crop = form.elements['crop'].value;

        document.getElementById('result').innerHTML = '<h2 style="margin: 0; margin-top:1%; text-align:center;">Please wait while we predict the price for you...</h2>';

        var xhr = new XMLHttpRequest();

        xhr.open('POST', '/price_prediction', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            crop: crop
        }));
        xhr.onload = function() {
            if (xhr.status == 200) {
                var result = JSON.parse(xhr.responseText);
                
                var label = result[3].map(function(item) {
                    return item[0];
                });
                var data = result[3].map(function(item) {
                    return item[1];
                });
                // for (var i = 0; i < result[3].length; i++) {
                //     res += result[3][i][0]+ ' - '+ result[3][i][1] + "<br>";
                // }

                document.getElementById('result').innerHTML = '<h2 style="margin: 0; margin-top:1%; text-align:center;">The predicted price for '+ crop + ' are<br></h2>' + 
                '<h3 class="price_result">Maximum - ' +  result[0][0] + ' : '+ result[0][1] + ' Rs/quintal <br>'+
                'Minimum - ' + result[1][0] + ' : '+ result[1][1] + ' Rs/quintal <br>'+
                'Current - ' + result[2] + ' Rs/quintal </h3> <br><br>'+
                '<div id="chartContainer" style="height:400px"> </div>';

                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    zoomEnabled: true,
                    // backgroundColor: "transparent",
                    theme: "light2",
                    title:{
                    	text: "Predicted Prices for next 10 months"
                        // fontColor: "#fff"
                    },
                    data: [{        
                    	type: "line",
                      	indexLabelFontSize: 16,
                    	dataPoints: [
                      { y: data[0], label: label[0] },
                      { y: data[1], label: label[1] },
                      { y: data[2], label: label[2] },
                      { y: data[3], label: label[3] },
                      { y: data[4], label: label[4] },
                      { y: data[5], label: label[5] },
                      { y: data[6], label: label[6] },
                      { y: data[7], label: label[7] },
                      { y: data[8], label: label[8] },
                      { y: data[9], label: label[9] }
                    	]
                    }]
                });
                chart.render();
                window.scrollTo(0,document.body.scrollHeight);
            }
        }
    }         
</script>

  <script src="static/canvas.js"></script>
         
</body>
</html>
